/******************************************************************GENERAL*********************************************************************************/

body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************************************************************HERO*********************************************************************************/

.hero {
    height: 106%;
    background: #006495;
}
.slogan {
    position: absolute;
    bottom: 35%;
    right: 5%;
}
.slogan h1 {
    color: white;
    font-size: 4em;
    text-transform: uppercase;
}

/*
.orange_text {
    color: #FF2100;
}
*/

img {
    position: absolute;
    height: 106%;
    width: 100%;
}
.imagez {
    height: auto;
}

/******************************************************************INTRO*********************************************************************************/

.intro {
    height: auto;
    background-color: #E32650;
    text-align: center;
}
.intro p {
    font-size: 3em;
    color: white;
    padding: 8% 5%;
}
