/******************************************************************GENERAL*********************************************************************************/

body {
    background: #27292e;
    color: black;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
}

/******************************************************************HERO*********************************************************************************/

.hero {
    height: 100%;
    background: #27292e;
}
.slogan {
    position: absolute;
    bottom: 35%;
    right: 5%;
}
.slogan h1 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}

/*
.orange_text {
    color: #FF2100;
}
*/

.hero img {
    position: absolute;
    height: 100%;
    width: 100%;
}
.imagez {
    height: auto;
}

/******************************************************************INTRO*********************************************************************************/

.intro {
    background-color: #f15d66;
    text-align: center;
}
.intro p {
    color: white;
    padding: 8% 10%;
}
p {
    margin-bottom: 0;
}

/***************************************************SKILLS*****************************************************************************************/

.skills {
    background-color: white;
    text-align: center;
    padding: 8% 5%;
}
.skills .column img {
    height: 10%;
    width: 10%;
}

/*****************************************************QUOTE****************************************************************************************/

.portfolio {
    /*    height: 50%;*/
    background-color: #27292e;
    padding-top: 8%;
    padding-bottom: 8%;
    /*    ÷ margin: auto;*/
}
.portfolio p {
    font-size: 30px;
}
.text {
    padding: 0 0 0 5%;
}
.portfolio h1 {
    /*    font-size: 1.5em;*/
    text-align: center;
    padding-bottom: 5%;
}
