/******************************************************************GENERAL*********************************************************************************/

body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/******************************************************************HERO*********************************************************************************/

.hero {
    height: 100%;
}
.slogan {
    position: absolute;
    bottom: 35%;
    left: 5%;
}
.slogan h1 {
    font-size: 4em;
    text-transform: uppercase;
}
.orange_text {
    color: #FF2100;
}
img {
    position: absolute;
}

/******************************************************************DESIGN_STRIP*********************************************************************************/

.design_strip {
    height: auto;
    color: black;
    background-color: white;
    width: 100%;
}
#bgvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../img/dave.jpg) no-repeat;
    background-size: cover;
}
